@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  @apply text-dark-blue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#footer-links {
  color: white;
}

#footer-links a{
  text-decoration: none;
}

#footer-links ul {
  list-style-type: none;
}

#footer-links li {
  padding: 0.2em;
}

.f-rus{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.popular:empty{display: none}
.rated:empty{display: none}
